html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto,Arial,sans-serif;
}
.map {
  height: 100%;
  width: 80%;
  float: left;
}
.sidebar {
  height: 100%;
  width: 20%;
  float: left;
  text-align: center;
  overflow: auto;
}
